@import "tailwindcss";

@font-face {
    font-family: 'YeogiOttaeJalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
  --font-pr: 'YeogiOttaeJalnan',serif;
}

body {
  font-family: 'YeogiOttaeJalnan', serif;
}
